<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sales</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/topnav.css">
</head>
<body>
<div th:insert="topnav :: nav"></div>

<div class="buttons" style="position: fixed; top: 40%; left: 1em; display: grid; align-content: start; gap: 0.5em;">

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Add
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3" id="addForm">
                <div class="form-group">
                    <label for="salesIdAmount">Amount</label>
                    <input type="number" class="form-control" id="salesIdAmount" placeholder="Amount" required>
                </div>

                <div class="form-group">
                    <label for="salesIdQuantity">Quantity</label>
                    <input type="number" class="form-control" id="salesIdQuantity" placeholder="Quantity" required>
                </div>

                <div class="form-group">
                    <label for="salesIdSaleDate">Sale date</label>
                    <input type="date" class="form-control" id="salesIdSaleDate" placeholder="Sale date" required>
                </div>

                <div class="form-group">
                    <label for="salesIdWarehouse">Warehouse</label>
                    <input type="number" class="form-control" id="salesIdWarehouse" placeholder="Warehouse" required>
                </div>

                <button type="button" class="btn btn-primary" id="addButton" onclick="add()">Add</button>
            </form>
        </div>
    </div>

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Update
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="salesIdUpdate">Id</label>
                    <input type="number" class="form-control" id="salesIdUpdate" placeholder="ID" required>
                </div>
                <div class="form-group">
                    <label for="salesAmountUpdate">Amount</label>
                    <input type="number" class="form-control" id="salesAmountUpdate" placeholder="Amount" required>
                </div>

                <div class="form-group">
                    <label for="salesQuantityUpdate">Quantity</label>
                    <input type="number" class="form-control" id="salesQuantityUpdate" placeholder="Quantity" required>
                </div>

                <div class="form-group">
                    <label for="salesSaleDateUpdate">Sale date</label>
                    <input type="date" class="form-control" id="salesSaleDateUpdate" placeholder="Sale date" required>
                </div>

                <div class="form-group">
                    <label for="salesWarehouseUpdate">Warehouse</label>
                    <input type="number" class="form-control" id="salesWarehouseUpdate" placeholder="Warehouse" required>
                </div>

                <button type="button" class="btn btn-primary" id="updateButton" onclick="update()">Update</button>
            </form>
        </div>
    </div>

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Delete
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="salesIdDelete">Id</label>
                    <input type="number" class="form-control" id="salesIdDelete" placeholder="Id" required>
                </div>
                <button type="button" class="btn btn-primary" id="deleteButton" onclick="remove()">Delete</button>
            </form>
        </div>
    </div>

</div>

<div class="mx-auto" style="margin-top:2%">
    <h1 align="center" style="color: Black">Sales</h1>
</div>

<div class="mx-auto" style="width: 50%; margin-top: 5%">

    <div>
        <table class="table table-bordered">
            <thead>
            <tr align="center">
                <th scope="col">id</th>
                <th scope="col">Amount</th>
                <th scope="col">Quantity</th>
                <th scope="col">Sale date</th>
                <th scope="col">Warehouse(id)</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="sales : ${salesList}" align="center">
                <th scope="row" th:text="${sales.id}"></th>
                <td th:text="${sales.amount}"></td>
                <td th:text="${sales.quantity}"></td>
                <td th:text="${sales.saleDate}"></td>
                <td>
                    <button id="buttonId" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" th:text="${sales.warehouse.id}" th:data-thing="${sales.warehouse.id}" onclick="getModal(this.getAttribute('data-thing'));">
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" tabindex="-1" id="myModal" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Warehouse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="amountId">Name</label>
                            <input type="text" class="form-control" id="amountId" readonly value="">
                        </div>

                        <div class="form-group">
                            <label for="quantityId">Quantity</label>
                            <input type="text" class="form-control" id="quantityId" readonly value="">
                        </div>

                        <div class="form-group">
                            <label for="saleDateId">Amount</label>
                            <input type="text" class="form-control" id="saleDateId" readonly value="">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="js/navUpdate.js"></script>
<script src="js/RestQuery.js"></script>
<script src="js/updateSalesList.js"></script>
<script src="js/salesModal.js"></script>
</body>
</html>