<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/topnav.css">
</head>
<body>
<div th:insert="topnav :: nav"></div>

<div class="buttons" style="position: fixed; top: 40%; left: 1em; display: grid; align-content: start; gap: 0.5em;">

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Add
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3" id="addForm">
                <div class="form-group">
                    <label for="warehousesIdName">Name</label>
                    <input type="text" class="form-control" id="warehousesIdName" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <label for="warehousesIdQuantity">Quantity</label>
                    <input type="text" class="form-control" id="warehousesIdQuantity" placeholder="Quantity" required>
                </div>

                <div class="form-group">
                    <label for="warehousesIdAmount">Amount</label>
                    <input type="text" class="form-control" id="warehousesIdAmount" placeholder="Amount" required>
                </div>

                <button type="button" class="btn btn-primary" id="addButton" onclick="add()">Add</button>
            </form>
        </div>
    </div>

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Update
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3" onsubmit="update()">
                <div class="form-group">
                    <label for="warehousesIdUpdate">Id</label>
                    <input type="text" class="form-control" id="warehousesIdUpdate" placeholder="ID" required>
                </div>
                <div class="form-group">
                    <label for="warehousesNameUpdate">Name</label>
                    <input type="text" class="form-control" id="warehousesNameUpdate" placeholder="Name" required>
                </div>

                <div class="form-group">
                    <label for="warehousesQuantityUpdate">Quantity</label>
                    <input type="text" class="form-control" id="warehousesQuantityUpdate" placeholder="Quantity" required>
                </div>

                <div class="form-group">
                    <label for="warehousesAmountUpdate">Amount</label>
                    <input type="text" class="form-control" id="warehousesAmountUpdate" placeholder="Amount" required>
                </div>

                <button type="button" class="btn btn-primary" id="updateButton" onclick="update()">Update</button>
            </form>
        </div>
    </div>

    <div class="dropdown dropright">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background: #2979FF">
            Delete
        </button>
        <div class="dropdown-menu">
            <form class="px-4 py-3">
                <div class="form-group">
                    <label for="warehousesIdDelete">Id</label>
                    <input type="text" class="form-control" id="warehousesIdDelete" placeholder="Id" required>
                </div>
                <button type="button" class="btn btn-primary" id="deleteButton" onclick="remove()">Delete</button>
            </form>
        </div>
    </div>

</div>


<div class="mx-auto" style="width: 50%; margin-top: 5%">

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody id="tableBody">
            <tr th:each="warehouses : ${warehousesList}">
                <th scope="row" th:text="${warehouses.id}"></th>
                <td th:text="${warehouses.name}"></td>
                <td th:text="${warehouses.quantity}"></td>
                <td th:text="${warehouses.amount}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="js/navUpdate.js"></script>
<script src="js/RestQuery.js"></script>
<script src="js/updateWarehousesList.js"></script>
</body>
</html>